.container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin-top: 2rem;
}

.box {
	width: 64px;
	height: 64px;
	border: 2px solid #afa8a8;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.valid {
	border-color: green;
	box-shadow: 0 0 1rem green;
}

.invalid {
	border-color: red;
	box-shadow: 0 0 1rem red;
}

.letter {
	font-size: 2rem;
	font-weight: bold;
	color: black;
}
